.dd.hide-for-small-only#menu_item_0(data-toggler-hover-dd='dd_show')
  .dd__content.callout
    .grid-container: .grid-x.grid-padding-x
      .small-12.medium-8.large-6.cell
        h5 Одежда
        ul
          each title in ['Все категории', 'Платья', 'Пальто', 'Пуховики', 'Куртки', 'Парки', 'Юбки', 'Брюки', 'Блузы и рубашки', 'Деним', 'Свитеры и трикотаж', 'Комбинезоны', 'Топы', 'Нижнее белье', 'Распродажа']
            li
              a(href='#' title='')= title
      .small-12.medium-8.large-6.cell
        h5 Актуально
        ul
          each title in ['Классика гардероба', 'Одежда для фитнеса', 'Новый сезон', 'Бизнес-класс', 'Выход в свет', 'Бестселлеры', 'Рукав-колокол', 'Миниатюрные сумки', 'Бархат', 'Вечерние образы', 'Пуховики']
            li
              a(href='#' title='')= title
      .small-24.medium-8.large-offset-4.cell
        .sect: img(src='./i/photo.svg' alt='1')
        span.label.label_success
          i.far.fa-star.picture
          | Акция
        a(href='shop-product.html' title='').canv Торцовочная пила Ryobi EMS254L
.dd.hide-for-small-only#menu_item_1(data-toggler-hover-dd='dd_show')
  .dd__content.callout
    .grid-container: .grid-x.grid-padding-x
      .small-12.medium-8.large-6.cell
        h5 Одежда Одежда
        ul
          each title in ['Все категории', 'Платья', 'Пальто', 'Пуховики', 'Куртки', 'Парки', 'Юбки', 'Брюки', 'Блузы и рубашки', 'Деним', 'Свитеры и трикотаж', 'Комбинезоны', 'Топы', 'Нижнее белье', 'Распродажа']
            li
              a(href='#' title='')= title
      .small-12.medium-8.large-6.cell
        h5 Актуально
        ul
          each title in ['Классика гардероба', 'Одежда для фитнеса', 'Новый сезон', 'Бизнес-класс', 'Выход в свет', 'Бестселлеры', 'Рукав-колокол', 'Миниатюрные сумки', 'Бархат', 'Вечерние образы', 'Пуховики']
            li
              a(href='#')= title
      .small-24.medium-8.large-offset-4.cell
        .sect: img(src='./i/photo.svg' alt='2')
        span.label.label_success
          i.far.fa-star.picture
          | Акция
        a(href='shop-product.html' title='').canv Торцовочная пила Ryobi EMS254L


.dd.hide-for-small-only#menu_item_2(data-toggler-hover-dd='dd_show')
  .dd__content.callout
    .grid-container: .grid-x.grid-padding-x
      .small-12.medium-8.large-6.cell
        h5 Одежда
        ul
          each title in ['Все категории', 'Платья', 'Пальто', 'Пуховики', 'Куртки', 'Парки', 'Юбки', 'Брюки', 'Блузы и рубашки', 'Деним', 'Свитеры и трикотаж', 'Комбинезоны', 'Топы', 'Нижнее белье', 'Распродажа']
            li
              a(href='#')= title
      .small-12.medium-8.large-6.cell
        h5 Актуально Актуально
        ul
          each title in ['Классика гардероба', 'Одежда для фитнеса', 'Новый сезон', 'Бизнес-класс', 'Выход в свет', 'Бестселлеры', 'Рукав-колокол', 'Миниатюрные сумки', 'Бархат', 'Вечерние образы', 'Пуховики']
            li
              a(href='#')= title
      .small-24.medium-8.large-offset-4.cell
        .sect: img(src='./i/photo.svg' alt='3')
        span.lspan.label.label_success
          i.far.fa-star.picture
          | Акция
        a(href='shop-product.html' title='').canv Торцовочная пила Ryobi EMS254L
