mixin checkbox-group(name,arrayColors,arraySizes)
  .checkbox-group
    if arrayColors != false
      each color in arrayColors
        -var id =  Math.ceil(Math.random() * 1000);
        input.checkbox-group__item(type='radio' id=id name=name)
        label.checkbox-group__label(for=id style='background-color: ' + color + ';')
    else
      each size,index in arraySizes
        -var id =  Math.ceil(Math.random() * 1000);
        if index == 4
          label.checkbox-group__label(data-toggle='no-size' style='background: linear-gradient(45deg, #fff 49%, red 49%, red 51%, #fff 51%) no-repeat;' data-open="no-size-popup") 43
        else  
          input.checkbox-group__item(type='radio' id=id name=name)
          label.checkbox-group__label(for=id)= size
